# ---------------------------------------------------------------------------- #
# ---------------------- ParaBlade configuration file ------------------------ #
# ---------------------------------------------------------------------------- #

# Number of Dimensions :: 2 :: 3
# Set NDIM = 2 for two-dimensional problems
# Set NDIM = 3 for three-dimensional problems
NDIM = 3

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Number of Blades OPTIONS :: integer
N_BLADES = 50

BODY-FORCE = YES
# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Number of blade sections used to create the blade OPTIONS :: integer
# The value must be at least 2 (even for 2D cases)
# Increase this value depending on the span-variation complexity of the blade
N_SECTIONS = 20

#N_POINTS = 20
# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Type of cascade OPTIONS :: LINEAR :: ANNULAR
# Set CASCADE_TYPE = ANNULAR for an a annular cascade of blades (axisymmetric)
# Set CASCADE_TYPE = LINEAR for a linear cascade of blades
CASCADE_TYPE = ANNULAR

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Design variables for the meridional channel
# Set a straight horizontal line for axial flow cascades
# Set a straight vertical line for radial flow cascades
# Set an arbitrary variation for mixed flow cascade
x_leading = -0.001409, -0.001408, -0.001408
y_leading = 0.00, 0.00, 0.00
z_leading = 0.20717614, 0.3990165542913321, 0.5870761085826641
x_trailing = 0.050231, 0.050231, 0.050232
z_trailing = 0.23331514, 0.3991525354563521, 0.5612090709127041
x_hub = 0.011500999999999999, 0.037321
z_hub = 0.21371089, 0.22678039
x_shroud = 0.011502, 0.037322
z_shroud = 0.5806093491651741, 0.5676758303301941

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Design variables for a 2D section parametrization based on connecting arcs.
# PARAMETRIZATION_TYPE = CONNECTING_ARCS
#stagger = -28.3735576696365, -55.1007198727162, -65.93989912427472
#theta_in = -43.7063, -59.7418, -68.2078
#theta_out = -7.0896, -49.061, -63.1836
#wedge_in = 5, 5, 5
#wedge_out = 5, 5, 5
#radius_in = 0.003, 0.003, 0.003
#radius_out = 0.005, 0.005, 0.005
#dist_1 = 0.30
#dist_2 = 0.30
#dist_3 = 0.30
#dist_4 = 0.30


# Design variables for a 2D section parametrization based camberline/thickness
PARAMETRIZATION_TYPE = CAMBER_THICKNESS
stagger = -28.3735576696365, -55.1007198727162, -65.93989912427472
theta_in = -43.7063, -59.7418, -68.2078
theta_out = -7.0896, -49.061, -63.1836
radius_in = 0.003, 0.003, 0.003
radius_out = 0.005, 0.005, 0.005
dist_in = 0.4, 0.4, 0.4
dist_out = 0.35, 0.35, 0.35
thickness_upper_1 = 0.015, 0.015, 0.015
thickness_upper_2 = 0.017, 0.017, 0.017
thickness_upper_3 = 0.019, 0.019, 0.019
thickness_upper_4 = 0.024, 0.024, 0.024
thickness_upper_5 = 0.03, 0.03, 0.03
thickness_upper_6 = 0.02, 0.02, 0.02
thickness_lower_1 = 0.015, 0.015, 0.015
thickness_lower_2 = 0.017, 0.017, 0.017
thickness_lower_3 = 0.019, 0.019, 0.019
thickness_lower_4 = 0.024, 0.024, 0.024
thickness_lower_5 = 0.03, 0.03, 0.03
thickness_lower_6 = 0.02, 0.02, 0.02


# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Plot format OPTION :: TECPLOT :: MATPLOTLIB :: INTERACTIVE
PLOT_FORMAT = MATPLOTLIB

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Operation type OPTION :: GEOMETRY :: SENSITIVITY
OPERATION_TYPE = GEOMETRY

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# File with the coordinates of the blade surface
#PRESCRIBED_BLADE_FILENAME =

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #
