# ---------------------------------------------------------------------------- #
# ---------------------- ParaBlade configuration file ------------------------ #
# ---------------------------------------------------------------------------- #

# Number of Dimensions :: 2 :: 3
# Set NDIM = 2 for two-dimensional problems
# Set NDIM = 3 for three-dimensional problems
NDIM = 3

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Number of Blades OPTIONS :: integer
N_BLADES = 50

BODY-FORCE = YES
# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Number of blade sections used to create the blade OPTIONS :: integer
# The value must be at least 2 (even for 2D cases)
# Increase this value depending on the span-variation complexity of the blade
N_SECTIONS = 20

#N_POINTS = 20
# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Type of cascade OPTIONS :: LINEAR :: ANNULAR
# Set CASCADE_TYPE = ANNULAR for an a annular cascade of blades (axisymmetric)
# Set CASCADE_TYPE = LINEAR for a linear cascade of blades
CASCADE_TYPE = ANNULAR

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Design variables for the meridional channel
# Set a straight horizontal line for axial flow cascades
# Set a straight vertical line for radial flow cascades
# Set an arbitrary variation for mixed flow cascade
x_leading = 0.054999, 0.054999, 0.054999
y_leading = 0.00, 0.00, 0.00
z_leading = 0.23429998000000002, 0.40016245100000003, 0.562775902
x_trailing = 0.105005, 0.105005, 0.105005
z_trailing = 0.23571398000000002, 0.400161037, 0.561359074
x_hub = 0.0675005, 0.0925035
z_hub = 0.23465348, 0.23536048000000004
x_shroud = 0.0675005, 0.0925035
z_shroud = 0.562421695, 0.5617132810000001

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Design variables for a 2D section parametrization based on connecting arcs.
# PARAMETRIZATION_TYPE = CONNECTING_ARCS
#stagger = 27.42479502868275, 17.172552754478527, 12.409258025057284
#theta_in = 31.2122, 19.7885, 14.352
#theta_out = 23.3589, 14.4807, 10.4371
#wedge_in = 5, 5, 5
#wedge_out = 5, 5, 5
#radius_in = 0.003, 0.003, 0.003
#radius_out = 0.005, 0.005, 0.005
#dist_1 = 0.30
#dist_2 = 0.30
#dist_3 = 0.30
#dist_4 = 0.30


# Design variables for a 2D section parametrization based camberline/thickness
PARAMETRIZATION_TYPE = CAMBER_THICKNESS
stagger = 27.42479502868275, 17.172552754478527, 12.409258025057284
theta_in = 31.2122, 19.7885, 14.352
theta_out = 23.3589, 14.4807, 10.4371
radius_in = 0.003, 0.003, 0.003
radius_out = 0.005, 0.005, 0.005
dist_in = 0.4, 0.4, 0.4
dist_out = 0.35, 0.35, 0.35
thickness_upper_1 = 0.015, 0.015, 0.015
thickness_upper_2 = 0.017, 0.017, 0.017
thickness_upper_3 = 0.019, 0.019, 0.019
thickness_upper_4 = 0.024, 0.024, 0.024
thickness_upper_5 = 0.03, 0.03, 0.03
thickness_upper_6 = 0.02, 0.02, 0.02
thickness_lower_1 = 0.015, 0.015, 0.015
thickness_lower_2 = 0.017, 0.017, 0.017
thickness_lower_3 = 0.019, 0.019, 0.019
thickness_lower_4 = 0.024, 0.024, 0.024
thickness_lower_5 = 0.03, 0.03, 0.03
thickness_lower_6 = 0.02, 0.02, 0.02


# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Plot format OPTION :: TECPLOT :: MATPLOTLIB :: INTERACTIVE
PLOT_FORMAT = MATPLOTLIB

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# Operation type OPTION :: GEOMETRY :: SENSITIVITY
OPERATION_TYPE = GEOMETRY

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #

# File with the coordinates of the blade surface
#PRESCRIBED_BLADE_FILENAME =

# ---------------------------------------------------------------------------- #
# ---------------------------------------------------------------------------- #
